<div class="container">
  <h1> Create a new list </h1>

  <div class="row">
    <%= simple_form_for @list do |l| %>
      <%= l.input :name %>
      <%= l.input :photo, as: :file %>
      <div class="form-actions">
       <%= l.button :submit, class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <span class="btn btn-secondary w-25">
    <%= link_to "Back to lists", lists_path%>
    </span>
  </div>
</div>
